*.bat
.vscode
redis/dump.rdb
smart_scheduler/.idea
*.pyc
*.rdb
.env
go/api/google_api/*.json
go/api/google_api/credentials.json
go/api/google_api/token.json
google_api/credentials.json
google_api/token.json
