.kanbanContainer
{
    position: relative;
    display: flex;
    padding-left: 5vw;
    background-color: transparent;
    color: #374146;
}

.column
{
    display: grid;
    grid-template-columns: 20vw;
    grid-template-rows: 10vh 75vh;

    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

    width: 20vw;

    height: 85vh;

    margin-left: 2vw;
    margin-top: 2.5vh;

    padding-left: 1vw;

    border-radius: 1vh;
}

.columnHeaderContainer
{
    display: grid;
    grid-template-columns: 12vw 6vw;

    padding-top: 1vh;
}

.columnHeader
{
    font-size: 2vw;
}

.columnActions
{
    display: grid;
    grid-template-columns: 3vw 3vw;

    font-size: 1.5vw;

    padding-top: 1.2vh;
    padding-left: 1.2vw;
}

.addUser:hover
{
    color: #09a2fb;
    cursor: pointer;
}

.editTeam:hover
{
    color: #09a2fb;
    cursor: pointer;
}

.addUserHint
{
    display: none;

    background-color: #374146;
    color: white;
    
    border-radius: 1vh;

    text-align: center;

    margin-left: 10vw;

    width: 8vw;
    height: 3vh;

    padding-top: 0.5vh;
    padding-bottom: 0.5vh;

    font-size: 0.8vw;

    z-index: 1;
}

.editTeamHint
{
    display: none;

    background-color: #374146;
    color: white;
    
    border-radius: 1vh;

    text-align: center;

    margin-left: 13vw;

    width: 8vw;
    height: 3vh;

    padding-top: 0.5vh;
    padding-bottom: 0.5vh;

    font-size: 0.8vw;

    z-index: 1;
}

.itemsContainer
{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 75vh;
    width: 19vw;
}

.itemsContainer::-webkit-scrollbar
{
    width: 8px;
}