.kanbanContainer
{
    background-color: rgba(255, 255, 255, 0);
}

.kanbanHeadingContainer
{
    height: 10vh;

    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    color: #374146;
}

.kanbanHeading
{
    font-size: 3vw;
    letter-spacing: 0.3vw;

    margin-left: 3vw;
}

.columnsContainer
{
    overflow-x: auto;
    position: relative;
    display: flex;
    margin-left: 9.5vw;

    width: 66vw;
    height: 80vh;


    background-color: transparent;
    color: #374146;
}

.columnsContainer::-webkit-scrollbar
{
    height: 10px;
}

.columnsContainer::-webkit-scrollbar-thumb
{
    background-color: transparent;
}

.columnsContainer::-webkit-scrollbar-thumb:hover
{
    background-color: transparent;
}

.saveIcon
{
    position: absolute;

    top: 11vh;
    left: 1vw;

    font-size: 1.5vw;

    color: #374146;
}

.saveIcon:hover
{
    cursor: pointer;
    color: #09a2fb;
}

.saveHint
{
    display: none;
    position: absolute;

    background-color: #374146;
    color: white;
    
    border-radius: 1vh;

    text-align: center;

    left: 0vw;
    top: 15vh;

    width: 4vw;
    height: 3vh;

    padding-top: 0.2vh;
    padding-bottom: 0.5vh;

    font-size: 0.8vw;

    z-index: 1;
}

.leftArrow
{
    position: absolute;

    top: 45vh;
    left: 6.5vw;

    font-size: 3vw;

    color: #374146;
}

.leftArrow:hover
{
    cursor: pointer;
    color: #09a2fb;
}

.rightArrow
{
    position: absolute;

    top: 45vh;
    left: 75.5vw;

    font-size: 3vw;

    color: #374146;
}

.rightArrow:hover
{
    cursor: pointer;
    color: #09a2fb;
}

.column
{
    display: grid;
    grid-template-columns: 20vw;
    grid-template-rows: 10vh 65vh;

    /*background: rgba(255, 255, 255, 0.4);*/
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

    width: 20vw;

    height: 75vh;

    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 2.5vh;

    padding-left: 1vw;

    border-radius: 1vh;
}

.addColumn
{
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

    width: 20vw;

    height: 10vh;

    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 2.5vh;

    padding-top: 3vh;

    border-radius: 1vh;
}

.addTeamContainer
{
    width: 20vw;

    font-size: 1.2vw;

    text-align: center;
}

.addTeamContainer:hover
{
    cursor: pointer;
    color: #09a2fb;
}

.columnHeaderContainer
{
    display: grid;
    grid-template-columns: 4vw 8vw 6vw;

    padding-top: 1vh;
}

.columnPicture
{
    background-color: white;

    width: 2vw;
    height: 2vw;

    border-radius: 2vh;

    margin-top: 0.3vh;

    font-size: 0.5vw;
}

.image
{
    width: 100%;
    height: 100%;

    border-radius: 2vh;
}

.columnHeader
{
    font-size: 1.5vw;
}

.columnActions
{
    display: grid;
    grid-template-columns: 3vw 3vw;

    font-size: 1.5vw;

    padding-top: 0.5vh;
    padding-left: 1.2vw;
}

.addUser:hover
{
    color: #09a2fb;
    cursor: pointer;
}

.editTeam:hover
{
    color: #09a2fb;
    cursor: pointer;
}

.addUserHint
{
    display: none;

    background-color: #374146;
    color: white;
    
    border-radius: 1vh;

    text-align: center;

    margin-left: 10vw;

    width: 8vw;
    height: 3vh;

    padding-top: 0.2vh;
    padding-bottom: 0.5vh;

    font-size: 0.8vw;

    z-index: 1;
}

.editTeamHint
{
    display: none;

    background-color: #374146;
    color: white;
    
    border-radius: 1vh;

    text-align: center;

    margin-left: 14vw;

    width: 5vw;
    height: 3vh;

    padding-top: 0.2vh;
    padding-bottom: 0.5vh;

    font-size: 0.8vw;

    z-index: 1;
}

.itemsContainer
{
    overflow-y: auto;
    overflow-x: hidden;
    height: 65vh;
    width: 19vw;
}

.itemsContainer::-webkit-scrollbar
{
    width: 8px;
}

.backgroundDimmer
{
    position: absolute;
    display: none;

    width: 85vw;
    height: 80vh;

    background-color: rgba(218, 223, 254, 0.7);

    z-index: 2;
}

.editTeamContainer
{
    position: absolute;
    display: none;

    width: 30vw;
    height: 70vh;

    margin-left: 27.5vw;
    margin-top: 5vh;

    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(4px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

    border-radius: 1vh;

    z-index: 3;

    animation: animate-pop-enter 0.5s cubic-bezier(0.26, 0.53, 0.74, 1.48);
}

@keyframes animate-pop-enter
{
    0%
    {
        opacity: 0;
        transform: scale(0.5, 0.5);
    }

    100%
    {
        opacity: 1;
        transform: scale(1, 1);
    }
}

.editTeamClose
{
    position: absolute;

    left: 28vw;
    top: 0.5vh;

    font-size: 1.5vw;
}

.editTeamClose:hover
{
    cursor: pointer;
}