@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*{
    font-family: "Poppins";
    font-weight: 400;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: normal !important;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: #afb3ca;
}

::-webkit-scrollbar-thumb:hover
{
    border-radius: 10px;
    background-color: #888b9b;
}

/*Profile bar*/
.profilebar-container
{
    position: absolute;
    display: inline-flex;
    width: 100vw;
    height: 10vh;
    padding-left: 88vw;
}

.profilepic-container
{
    font-size: 3vw;
    margin-top: 1vh;
}

.profilepic-container:hover
{
    cursor: pointer;
    color: #09a2fb;
}

.logout
{
    font-size: 1vw;
    margin-top: 3.5vh;
    margin-left: 2vw;
}

.logout:hover
{
    cursor: pointer;
    color: #09a2fb;
}

/*Page*/
.page-container
{
    position: relative;
    min-height: 100vh;
}

.content
{
    overflow-x: hidden;
    min-height: 100vh;
    background-color: rgba(218, 223, 254, 0.6);
}

.main-container
{
    position: relative;
    overflow: hidden;
    background-image: url('img/tile2.png');
    background-repeat: repeat;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);

    margin-left: 15vw;
    margin-top: 10vh;

    padding-bottom: 5vh;

    width: 85vw;
    height: 90vh;

    border-radius: 1vh 0 0 0;

    animation: fadeIn ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeIn
{
    0% { opacity: 0;}
    100% { opacity: 1;}
}

.content-login
{
    background-image: url('img/tile2.png');
    background-repeat: repeat;
}

.footer
{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10vh;
    
    background: #dadffe;

    color: #374146;
    text-align: center;
    padding-top: 2vh;

    font-size: 1.5vh;
    letter-spacing: 0.3vw;
}

.booking-ticket
{
    position: absolute;

    width: 10vw;
    height: 30vh;

    margin-left: 5.7vw;

    padding-top: 1vh;
  
    background: #09a2fb66;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(4px);

    border-width: 0.5px;
    border-radius: 3vh;

    text-align: center;
    color: #374146;

    transition: 0.5s ease-in-out;
}

.booking-ticket:hover
{
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.5s ease-in-out;
}

.booking-text
{
    text-align: left;
    font-size: 4vh;
    color: #ffffff;
    text-align: center;
}

.booking-type
{
    display: inline-block;
    position: absolute;
    top : 0vh;
    font-size: 2vh;
    width: 2vw;
}

.booking-popup
{
    position: absolute;
    visibility: hidden;

    display: grid;
    grid-template-columns: 25vw 25vw;
    grid-template-rows: 30vh;
    grid-template-areas: "edit" "delete";

    border-radius: 4vh;
    opacity: 0;

    background-color: #1b1b1b;

    text-align: center;
    color: white;

    transition: 0.5s;
}

.booking:hover .booking-popup
{
    visibility: visible;
    transition: 0.5s;
    opacity: 0.95;
}

.booking-edit
{
    grid-area: 'edit';
    margin: 10vh;
}

.booking-delete
{
    grid-area: 'delete';
    margin: 10vh;
}


.booking-edit-icon:hover
{
    cursor: pointer;
    color: #919191;
}

.booking-delete-icon:hover
{
    cursor: pointer;
    color: #919191;
}

.login-grid
{
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 100vh;
    grid-template-areas: "form-container" "image-container";

    overflow: hidden; 
}

.password-requirements
{
    visibility: hidden;

    position: fixed;
    background-color: #ffffff;
    border-radius: 1vh;

    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 3vw;
    padding-right: 3vw;
    
    width: 20vw;
    top: 71vh;
    left: 40vw;
    text-align: center;
    box-shadow: #000000 0px 2vw 9vh;
}

.form-container-login
{
    grid-area: 'form-container';
    display: grid;
    grid-template-columns: 50vw;
    grid-template-rows: 15vh 40vh auto;
    grid-template-areas: "header" "form" "signup";

    margin-top: 15vh;

    width: 50vw;
}

.form-container-signup
{
    grid-area: 'form-container';
    display: grid;
    grid-template-columns: 50vw;
    grid-template-rows: 15vh 40vh;
    grid-template-areas: "header" "form";

    margin-top: 10vh;

    width: 50vw;
}

.back-button
{
    position: absolute;
    left: 26vw;
    top: 26vh;

    animation: fadeIn ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.back-button:hover
{
    cursor: pointer;
}

/*Desk Booking*/
.form-container-desk-booking
{
    grid-area: 'form-container';
    display: grid;
    grid-template-columns: 50vw;
    grid-template-rows: 15vh auto;
    grid-template-areas: "header" "form";

    margin-left: 17.5vw;
    margin-top: 5vh;

    padding-top: 3vh;
    padding-bottom: 3vh;

    width: 50vw;

    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-style: solid;
    border-color: #ffffffab;
    border-width: 0.5px;
    border-radius: 3vh;
}

/*Meeting Room Booking*/
.form-container-meetingroom-booking
{
    grid-area: 'form-container';
    display: grid;
    grid-template-columns: 50vw;
    grid-template-rows: 15vh auto;
    grid-template-areas: "header" "form";

    margin-left: 17.5vw;
    margin-top: 5vh;

    padding-top: 3vh;
    padding-bottom: 3vh;

    width: 50vw;

    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-style: solid;
    border-color: #ffffffab;
    border-width: 0.5px;
    border-radius: 3vh;
}

.form-container-team
{
    grid-area: 'form-container';
    display: grid;
    grid-template-columns: 50vw;
    grid-template-rows: 15vh auto;
    grid-template-areas: "header" "form";

    margin-top: 3vh;
    margin-left: 25vw;

    width: 50vw;

    animation: fadeIn ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.form-header
{
    grid-area: header;
    color: #374146;

    font-size: 2.5vh;
    text-align: center;
}

.form-header-top
{
    color: #374146;
    font-size: 7vh;
}

.form-container-login h1
{
    color: #374146;
    font-size: 7vh;
}

.form-container-signup h1
{
    color: white;
    font-size: 7vh;
}

.form-container-team h1
{
    color: #374146;
    font-size: 7vh;
}

.form
{
    grid-area: form;
    margin-left: 12.5vw;
}

.form-group
{
    margin-top: 3vh;
}

.form-label
{
    color: #374146;
    font-size: 3vh;
}

.form-input
{
    margin-top: 1vh;
    padding-left: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    width: 25vw;

    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

    color: #374146;

    border-style: none;
    border-radius: 1.5vh;
    outline: none;

    font-size: 2vh; 
}

.form-input:focus
{
    outline: none;
}

.password-input
{
    margin-top: 1vh;
    padding-left: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    width: 25vw;

    background-color: #252525;
    color: #aaaaaa;

    border-style: solid;
    border-radius: 1.5vh;

    font-size: 2vh; 
}

.password-input:focus
{
    outline: none;
}

.password-input:focus ~.password-requirements
{
    visibility: visible;
}

.password-strength
{
    margin-top: 3vh;
    width: 25vw;
}

.form-input-textarea
{
    resize: vertical;

    margin-top: 1vh;
    padding-left: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    width: 25vw;

    background-color: #252525;
    color: rgb(170, 170, 170);

    border-style: solid;
    border-radius: 1.5vh;

    font-size: 2vh; 
}

.form-input-file
{
    margin-top: 1vh;
    padding-left: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    width: 25vw;

    background-color: #252525;
    color: rgb(170, 170, 170);

    border-style: none;

    font-size: 2vh;
}

.button-submit
{
    margin-top: 5vh;
    width: 25vw;
    height: 5.5vh;

    /*background-color: #09A4FB;*/
    background: #09a2fb;
    color: white;

    border-style: none;
    border-radius: 1.3vh;

    font-size: 2vh;
}

.button-submit:hover
{
    cursor: pointer;
    background: #03639b;
}

.signup-prompt
{
    grid-area: signup;

    text-align: center;
    color: #374146;

    font-size: 2vh;
}

.signup-link
{
    color: #09A4FB;
    text-decoration: none;
}

.signup-link:hover
{
    color: #03639b;
}

.image-container
{
    grid-area: "image-container";
    width: 50vw;
    height: 110vh;
}

.login-image
{
    width: 100%;
    height: 100%;
}

.booking-container
{
    display: float;

    margin-left: 22.5vw;
    margin-top: 10vh;
}

.button-resource-container
{
    margin-top: 2vh;
    margin-left: 38vw;
}

.button-resource
{
    margin-left: 1vw;

    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;

    width: 10vw;

    background-color: #09A4FB;
    color: white;

    border-style: none;
    border-radius: 1.3vh;

    font-size: 2vh;
}

.button-resource-meeting
{
    margin-left: 1vw;

    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;

    width: 12vw;

    background-color: #09A4FB;
    color: white;

    border-style: none;
    border-radius: 1.3vh;

    font-size: 2vh;
}

.button-resource:hover
{
    cursor: pointer;
    background-color: #03639b;
}

.button-resource-meeting:hover
{
    cursor: pointer;
    background-color: #03639b;
}

.combo-box
{
    font-size: 2vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;

    width: 25vw;

    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

    color: #374146;

    border-style: none;
    border-radius: 1.5vh;
    outline: none;


    text-align: center;
}

.resource {
    position: relative;
    display: grid;
    grid-template-columns: 12vw 12vw;
    grid-template-rows: 10vh;
    grid-template-areas: "image""text";
    float: left;

    margin-top: 2vh;
    margin-left: 1vw;
    margin-right: 1vw;
    padding-top: 1.5vh;

    height: 11vh;
    width: 12vw;
    border-radius: 1vh;
    background-color: #919191;
    color: white;
    text-align: center;

    animation: fadeIn ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.resource-popup {
    position: absolute;
    visibility: hidden;

    display: grid;
    grid-template-columns: 6vw 6vw;
    grid-template-rows: 11vh;
    grid-template-areas: "edit""delete";

    border-radius: 1vh;
    opacity: 0;

    background-color: #1b1b1b;

    text-align: center;
    color: white;

    transition: 0.5s;
}

.user-popup {
    position: absolute;
    visibility: hidden;

    display: grid;
    grid-template-columns: 12vw;
    grid-template-rows: 11vh;
    grid-template-areas: "edit";

    border-radius: 1vh;
    opacity: 0;

    background-color: #1b1b1b;

    text-align: center;
    color: white;

    transition: 0.5s;
}

.resource:hover .resource-popup {
    visibility: visible;
    transition: 0.5s;
    opacity: 0.95;
    background-color: #09A4FB;
}

.resource:hover .user-popup {
    visibility: visible;
    transition: 0.5s;
    opacity: 0.95;
    background-color: #09A4FB;
}

.resource-edit {
    grid-area: 'edit';
    margin: 3.5vh;
}

.resource-delete {
    grid-area: 'delete';
    margin: 3.5vh;
}


.resource-edit-icon:hover {
    cursor: pointer;
    color: #919191;
}

.resource-delete-icon:hover {
    cursor: pointer;
    color: #919191;
}

.resources-map
{
    position: relative;
    overflow-y: auto;
    margin-top: 3vh;
    margin-left: 10vw;

    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-left: 5vw;
    padding-right: 5vw;

    width: 80vw;

    border-radius: 1vh;
    background-color: #1b1b1b;
}

.resource-icon
{
    color: white;
    display: float;
    text-align: center;
}

.admin-card-container {
    display: flex;

    margin-left: calc((100vw - 60vw) / 2);
    margin-top: 5vh;
}

.admin-card {
    display: grid;
    grid-template-columns: 25vw;
    grid-template-rows: 10vh auto 10vh;
    grid-template-areas: "image""text""icon";

    min-width: 25vw;
    min-height: 35vh;

    margin-left: 1.5vw;
    margin-right: 1.5vw;

    border-radius: 4vh;
    background: white;
    box-shadow: 1vh 1vh 4vh rgba(0, 0, 0, 0.9);
    text-align: center;

    transition: 0.5s ease-in-out;

    animation: fadeIn ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.admin-card-text {
    grid-area: text;
    margin-top: 3vh;
    margin-left: 2vw;
    margin-right: 2vw;
}

.admin-card-text h2 {
    font-size: 3.5vh;
}

.admin-card-text p {
    margin-top: 1vh;
    color: grey;
    font-size: 2vh;
}

.admin-card:hover {
    transform: scale(1.05);
    cursor: pointer;
    transition: 0.5s ease-in-out;
    background-color: #45bbff;
}

.admin-icon {
    color: black;
    display: float;
    text-align: center;
}

.admin-card-image {
    margin-top: 3vh;
}

.user-text {
    grid-area: 'text';

    margin-top: 5.5vh;
    margin-top: 5.5vh;

    text-align: left;
}

.user-text-name {
    font-size: 5vh;
}

.user-text-email {
    font-size: 1.5vh;
}

.user-roles {
    grid-column: span 2;
    margin-top: 5vh;
    margin-left: 5vh;
}

.user-teams {
    grid-column: span 2;
    margin-top: 2vh;
    margin-left: 5vh;
}

.button-user-profile {
    margin-left: 1.5vw;
    margin-bottom: 1vw;

    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;

    grid-column: span 1;

    width: 17.5vw;

    background-color: #09A4FB;
    color: white;

    border-style: none;
    border-radius: 1.3vh;

    font-size: 2vh;
}

.button-user-profile:hover {
    cursor: pointer;
    background-color: #03639b;
}

.list {
    display: block;
}

.list-item {
    position: relative;

    display: grid;
    grid-template-columns: 10vw;
    grid-template-rows: 3.5vh;

    margin-left: 1vw !important;

    animation: fadeIn ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.list-item-content {
    padding-top: 0.15vw;
    padding-bottom: 0.15vw;
    padding-left: 1vw;
    padding-right: 1vw;

    border-radius: 0.75vw;

    background-color: grey;
}

.list-item-popup {
    position: absolute;
    visibility: hidden;

    display: grid;
    grid-template-columns: 10vw;
    grid-template-rows: 3.5vh;

    border-radius: 0.75vw;
    opacity: 0;

    background-color: #1b1b1b;

    text-align: center;
    color: white;

    transition: 0.5s;
}

.list-item:hover .list-item-popup {
    visibility: visible;
    transition: 0.5s;
    opacity: 0.95;
    background-color: #09A4FB;
}

.list-item-delete {
    text-align: right;
    margin-right: 1vw;
    margin-top: 0.25vw;
    grid-area: 'delete';
}

.list-item-delete-icon:hover {
    cursor: pointer;
    color: #919191;
}

.button-profile-add {
    margin-top: 0.5vw;
    margin-left: 1vw;

    padding-top: 0.75vh;
    padding-bottom: 0.75vh;
    padding-left: 0.75vw;
    padding-right: 0.75vw;

    width: 7vw;

    background-color: #09A4FB;
    color: white;

    border-style: none;
    border-radius: 1.3vh;

    font-size: 1.5vh;
}

.combo-box-profile {
    width: 10vw;

    border-radius: 1vh;
    color: black;
    background-color: white;
    text-align: center;
}

/* Customize the label (the container) */
.container {
    color: #374146;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-top: 10px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #ffffff;
}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked~.checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.permission-category {
    color: white;
    margin-top: 50px;
}

.white {
    color: white;
}

hr {
    width: 75%;
    text-align: left;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: 3px solid green;
}

button:disabled,
button[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}