.mapHeadingContainer
{
    height: 10vh;

    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    color: #374146;
}

.mapHeading
{
    font-size: 3vw;
    letter-spacing: 0.3vw;

    margin-left: 3vw;
}

.canvasContainer
{
    background: #ced8fb;

    width: 85vw;
    height: 80vh;
    left: 0;
}

.buildingSelectorContainer
{
    position: absolute;
    top: 12vh;
    left: 1vw;
}

.roomSelectorContainer
{
    position: absolute;
    top: 12vh;
    left: 25vw;
}

.resourceSelector
{
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

    color: #374146;

    border-style: none;
    border-radius: 1.5vh;
    outline: none;

    margin-top: 1vh;
    padding-left: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;

    width: 20vw;

    font-size: 1vw;
}

.dateContainer
{
    position: absolute;
    top: 12vh;
    left: 50vw;
}

.date
{
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

    border-style: none;
    border-radius: 1.5vh;
    outline: none;
}

.date:focus
{
    outline: none;
}

.sidePanel
{
    position: absolute;
    display: grid;
    grid-template-rows: 8vh 5vh 67vh;

    width: 20vw;
    height: 80vh;

    background-color: white;
    box-shadow: 0 5px 10px -4px rgba(0, 0, 0, 0.1) inset;

    transition: all 0.5s ease; 

    z-index: 2;
}

.resourceHeading
{
    padding-top: 1vh;

    text-align: center;

    font-size: 1.5vw;
}

.resourceType
{
    text-align: center;

    font-size: 1vw;
}

.userCard
{
    display: none;
    position: absolute;

    background-color: white;

    width: 10vw;
    height: 10vh;

    border-radius: 1vh;

    animation: animate-pop-enter 0.5s cubic-bezier(0.26, 0.53, 0.74, 1.48);
}

@keyframes animate-pop-enter
{
    0%
    {
        opacity: 0;
        transform: scale(0.5, 0.5);
    }

    100%
    {
        opacity: 1;
        transform: scale(1, 1);
    }
}