.editUserContainer
{

}

.headerContainer
{
    display: grid;
    grid-template-rows: 16vh 5vh;

    text-align: center;
}

.pictureContainer
{
    width: 7vw;
    height: 7vw;

    margin-left: 6.5vw;
    margin-top: 1vh;

    border-radius: 10vh;
}

.picture
{
    width: 100%;
    height: 100%;

    border-radius: 10vh;
}